<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>用户登录</title>
  <link href="../../css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class ="formwrapper">
      <h2>用户登录</h2>
      <form action="/login" method="POST">
        <div>
          <label for="Name">用户名:</label>
          <input type="text" name="Name" id="password" placeholder="最少6个字符" /><br /><br />
        </div>
        <div>
          <label for="password">密&nbsp;码:</label>
          <input type="password" name="password" id="password" placeholder="最少6个字符要有数字和字母" /><br /><br />
        </div>
        <button type="submit" class="login-button">登录</button>
      </form>
      <p class="register-link">已有账号？<a href="register.html">立即注册</a></p>
    </div>

</body>

</html>
