<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- 引入 Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <title>用户登录</title>
  <link href="../static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class ="formwrapper" id="app">
      <h2>用户登录</h2>
      <!-- 使用 v-on:submit 阻止默认的表单提交行为，并调用 handleSubmit 方法 -->
      <form @submit.prevent="handleSubmit"  >
        <div>
          <label for="userName">用户名:</label>
          <!-- 使用 v-model 将输入框的值绑定到 Vue 实例的 username 属性 -->
          <input type="text" v-model="userName" name="Name" id="userName" /><br /><br />
        </div>
        <div>
          <label for="userPassword">密  码: </label>
          <input type="password" v-model="userPassword" name="password" id="userPassword" placeholder="最少6个字符要有数字和字母" /><br /><br />
        </div>
        <button type="submit" class="login-button">登录</button>
      </form>
      <p class="register-link">没有账号？<a href="/public/register">立即注册</a></p>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          userName: '',
          userPassword: ''
        },
        methods: {
          handleSubmit: function() {
            axios.post('/login/submit', {
              userName: this.userName,
              userPassword: this.userPassword
            })
                    .then(response => {
                      if (response.data.authenticated) {
                        if (response.data.isAdmin) {
                          // 用户是管理员，执行管理员相关逻辑
                          window.location.href = '/admin-home';
                        } else {
                          // 用户不是管理员，执行普通用户逻辑,登录成功后执行WebSocket的相关操作
                          this.websocket = new WebSocket('ws://localhost:8080'); // 替换为你的WebSocket地址
                          this.websocket.onopen = function () {
                            console.log('WebSocket connection opened.');
                            // 在这里执行你的onopen逻辑
                          };

                          window.location.href = '/home';
                        }
                      }else {
                        // Authentication failed, show an error message
                        window.alert('Authentication failed. Please try again.');
                      }
                    })
                    .catch(function (error) {
                      // Handle error
                      console.log(error);
                    });
          }
        }
      });
    </script>
</body>

</html>
