<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>用户注册</title>
  <link href="../../css/register.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="fromwrapper">
  <div class="outer-container">
    <div class="login-container">

      <form method="post" action="/submit2" name="apForm" id="apForm">
        <h2>用户注册</h2>
        <h4>*的地方必须填</h4>
        <div>
          <label for="Name">用户名</label>
          <input type="text" name="Name" id="password" placeholder="最少6个字符"/><b>*</b>
        </div>
        <div>
          <label for="password">用户密码</label>
          <input type="password" name="password" id="password" placeholder="最少6个字符要有数字和字母"/><b>*</b>
        </div>
        <div>
          <label for="confirm_password">重复密码</label>
          <input type="password" name="confirm_password" id="confirm_password" /><b>*</b>
        </div>
        <div>
          <label for="sex">用户性别</label>
          <input type="radio" class="selector" name="sex" value="M" />男
          <input type="radio" class="selector" name="sex" value="F" />女
        </div>
        <div>
          <label for="telephone">用户手机号</label>
          <input type="text" name="telephone" id="telephone" class="input" /><b>*</b>
        </div>
        <div>
          <label for="birthday">用户生日</label>
          <input type="date" name="birthday" id="birthday" /><b>*</b>
        </div>
      
        <!-- display error message -->
        <script>
          // 获取错误信息
          var error = "{{ error }}";
        
          // 如果有错误信息，则弹出对话框显示
          if (error) {
            alert(error);
          }
        </script>
        
      
        <!-- submit button -->
        <button type="submit" class="login-button">注册</button>
      </form>
      
    <p>已有账号？<a href="login.html">立即登录</a></p>
  </div>
  </div>
</div>

</body>
</html>
