<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="static/vue/logout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <title>群组</title>
    <link href="static/css/navigation.css" rel="stylesheet" type="text/css">
    <link href="static/css/chat.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <span style="margin-left: 10px;">whisperworld</span>
</div>
<aside>
    <div class="nav" id="out">
        <span style="font-size: 20px;  letter-spacing: 2px;">功能列表</span>
        <a href="/home ">首页</a>
        <a href="/companion">好友</a>
        <a href="/group" class="active">群中心</a>
        <a href="/topics">话题</a>
        <a href="/profile">个人中心</a>
        <a href="/logout" @click.prevent="logout">退出登录</a>
    </div>
</aside>
<section>
    <div id="app" th:inline="none">
        <div class="left">
            <div class="signature">群组</div>
            <div class="group">
                <ul class="group-list">
                    <li v-for="group in Groups" :key="group.groupId">
                        <button @click="showGroup(group.groupId)">
                            {{group.groupName }} - {{group.groupId}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="left1">
            <div class="signature">群成员</div>
            <div v-for="groupMember in groupMembers" :key="groupMember">
                <p>{{ groupMember }}</p>
            </div>
        </div>

        <div class="right">
            <div class="main-content">
                <header>{{ selectedGroupName }}</header>
                <div ref="scrollContainer" class="upper-content" id="chat-content">
                    <button @click="getMoreHistory()">更多历史记录</button>
                    <div v-for="message in Messages" :key="message.id" class="message-container">
                        <div v-if="message.self" id="self" class="message">
                            <!-- 表示自己发的内容 -->
                            {{ message.userName }} - {{ message.content }} - {{ formatDate(message.time) }}
                        </div>
                        <div v-else id="friend" class="message">
                            <!-- 表示对方发的内容 -->
                            {{ message.userName }} - {{ message.content }} - {{ formatDate(message.time) }}
                        </div>
                    </div>
                </div>
                <div class="lower-content">
                    <form @submit.prevent="submitMessage">
                        <input type="text" class="input-box" placeholder="输入消息" v-model="newMessage" name="message">
                        <button type="submit" class="send-button">发送</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer">欢迎使用社交网络系统</div>
<script>
    new Vue({
        el: '#app',
        data: {
            stompClient: null,
            Groups: [{groupName:'test'}],
            groupMembers: null,
            Messages: [
                {userName: 'lcl', content: '有点冷', time: '2021-10-11'}
            ],
            newMessage: '',
            userID: '',
            groupId: '',
            selectedGroupName: '' // 新增一个变量来保存选中的群组的名称
        },
        created() {
            axios.get('/api/getCurrentID')
                .then(response => {
                    this.data = response.data;
                    //console.log("useId:" +this.userID);
                    console.log("useID:" +this.data.userID);
                    const socket = new SockJS(`http://localhost:8080/websocket-endpoint/` + this.data.userID);
                    // 第二个 Axios 请求，将用户ID与 WebSocketSession 关联
                    this.stompClient = Stomp.over(socket);

                    this.stompClient.connect({}, () => {
                        console.log('Connected to server');
                        console.log('stompClient:', this.stompClient);
                        //获取群名称
                        this.stompClient.subscribe('/user/queue/' + this.data.userID + '/groups', (data) => {
                            let response = JSON.parse(data.body);
                            this.$set(this, 'Groups', response.map(item => item.Groups));
                        });
                        //获取群成员名称
                        this.stompClient.subscribe(`/user/queue/${this.data.userID}/groupMembers/${this.groupId}`, (data) => {
                            let response = JSON.parse(data.body);
                            this.$set(this, 'groupMembers', response.map(item => item.groupMembers));
                        });
                        //获取历史记录
                        this.stompClient.subscribe('/user/queue/' + this.data.userID + '/receiveHistory', (data) => {
                            let response = JSON.parse(data.body);
                            this.$set(this, 'Messages', response);
                            console.log("History" + response);
                        });
                        //获取消息
                        this.stompClient.subscribe('/user/queue/' + this.data.userID + '/groupMsg', (data) => {
                            let response = JSON.parse(data.body);
                            this.Messages.push(response);
                        });
                        this.stompClient.subscribe('/user/queue/moreHistory/'+this.data.userID,(data) => {
                            let response = JSON.parse(data.body);
                            this.Messages.unshift(...response);
                        });
                        // Send a request to get all friends
                        this.getAllGroups();
                    });
                })
                .catch(error => {
                    console.error(error);
                });

        },
        beforeDestroy() {
            // 断开WebSocket连接
            this.stompClient.subscriptions.forEach(subscription => {
                subscription.unsubscribe();
            });
        },
        methods: {
            formatDate: function (date) {
                if (date) {
                    const formattedDate = new Date(date).toLocaleDateString();
                    return formattedDate;
                }
                return '';
            },
            getAllGroups() {
                this.stompClient.send('/send/getAllGroups', {});
            },
            showGroupHistory(groupId) {
                this.stompClient.send('/send/getGroupHistory', {}, groupId);
            },
            sendMessage() {
                if (this.stompClient) {
                    var data = {
                        "messageContent": this.newMessage,
                        "groupId": this.groupId,
                    };
                    this.stompClient.send('/send/sendMessages', {}, JSON.stringify(data));
                }
            },
            submitMessage() {

                if (this.newMessage.trim() !== '') {
                    this.sendMessage();
                    this.newMessage = '';
                }
            },
            getGroupMembers(groupId) {
                if (this.stompClient) {
                    // 调用后端接口获取群成员
                    this.stompClient.send('/send/getGroupMembers', {}, groupId);
                }
            },
            showGroup(groupId) {
                this.groupId = groupId;
                this.getGroupMembers(this.groupId);
                this.showGroupHistory(this.groupId);
                // 将选中的群组的名称保存到变量中
                const selectedGroup = this.Groups.find(group => group.groupId === groupId);
                this.selectedGroupName = selectedGroup ? selectedGroup.groupName:'';
            },
            getMoreHistory(){
                if (this.stompClient) {
                    var data={
                        "groupId":this.groupId,
                        "currentMsg":this.Messages.length
                    }
                    this.stompClient.send('/send/getMoreHistory',{},JSON.stringify(data));
                }
            },
        },
    });
</script>
</body>
</html>
