<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="static/vue/logout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <title>好友</title>
    <link href="static/css/companion.css" rel="stylesheet" type="text/css">
    <link href="static/css/navigation.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
    <span style="margin-left: 10px;">whisperworld</span>
</div>
<div>
    <div class="left-sidebar">
        <div class="nav" id="out">
            <span style="font-size: 20px;  letter-spacing: 2px;">功能列表</span>
            <a href="/home ">首页</a>
            <a href="/companion" class="active">好友</a>
            <a href="/group">群组</a>
            <a href="/topics">话题</a>
            <a href="/profile">个人中心</a>
            <a href="/logout" @click.prevent="logout">退出登录</a>
        </div>
    </div>
    <div id="app" th:inline="none">
        <div class="right-sidebar">
            <div><span style="margin-left: 10px; font-size: 18px; letter-spacing: 2px;">好友列表</span></div>

            <div class="search-box">
                <input type="text" class="search-input" v-model="name" placeholder="搜索">
                <button class="search-button" @click="getFriends">搜索</button>
            </div>

            <div id="search-result" class="search-result">
                <button v-for="friendName in friendNames" :key="friendName" @click="showHistory(friendName)">
                    {{ friendName }}
                </button>
            </div>
        </div>
        <div class="main-content">
            <header>好友</header>
            <div class="upper-content" id="chat-content">
                <div v-for="message in Messages" :key="message.id">
                    {{ message.self}} -- {{ message.content }} - {{ message.time }} -- {{ message.receiveState }}
                </div>
            </div>
            <div class="lower-content">
                <form @submit.prevent="submitMessage">
                    <input type="text" class="input-box" placeholder="输入消息" v-model="newMessage" name="message">
                    <button type="submit" class="send-button" >发送</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            stompClient: null,
            name: '',
            friendNames: [],
            Messages: [],
            currentFriend: '',
            newMessage: '',
            userID: '',
            friendID: ''
        },
        created() {
            axios.get('/api/getCurrentID')
                .then(response => {
                    this.data=response.data;
                    console.log('userID:',this.data.userID);

                    const socket = new SockJS('http://localhost:8080/websocket-endpoint/'+this.data.userID);
                    this.stompClient = Stomp.over(socket);
                    this.stompClient.connect({}, () => {
                        console.log('connected to server');

                        this.stompClient.subscribe('/response/friends', (data) => {
                            let response = JSON.parse(data.body);
                            if (response.requestType === '/response/friends') {
                                this.friendNames = response.data;
                            }
                        });

                        this.stompClient.subscribe('/response/History', (data) => {
                            let response = JSON.parse(data.body);
                            if (response.requestType === '/response/History') {
                                this.Messages = response.data;
                            }
                        });

                        this.stompClient.subscribe('/response/Msg', (data) => {
                            let response = JSON.parse(data.body);
                            if (response.requestType === '/response/Msg') {
                                this.Messages.push(response.data);
                            }
                        });


                        this.stompClient.send('/send/getAllFriends', {});

                    });
                })
                .catch(error =>{
                    console.error(error);
                })
        },
        beforeDestroy() {
            // 断开WebSocket连接
            if (this.stompClient !== null) {
                this.stompClient.disconnect();
            }
        },
        methods: {
            getFriends() {
                this.stompClient.send('/send/getFriends/' + this.name, {});
            },
            getHistory() {
                this.stompClient.send('/send/getHistory/' + this.currentFriend, {});
            },
            sendMessage() {
                this.stompClient.send('/send/sendMessages', {}, this.newMessage);
            },
            submitMessage() {
                if (this.newMessage.trim() !== '') {
                    this.sendMessage();
                    this.newMessage = '';
                }
            }
        },
    });

</script>
<div class="footer">欢迎使用社交网络系统</div>
</body>

</html>