<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="static/vue/logout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <title>好友</title>
    <link href="static/css/companion.css" rel="stylesheet" type="text/css">
    <link href="static/css/navigation.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
    <span style="margin-left: 10px;">whisperworld</span>
</div>
<div>
    <div class="left-sidebar">
        <div class="nav" id="out">
            <span style="font-size: 20px;  letter-spacing: 2px;">功能列表</span>
            <a href="/home ">首页</a>
            <a href="/companion" class="active">好友</a>
            <a href="/group">群组</a>
            <a href="/topics">话题</a>
            <a href="/profile">个人中心</a>
            <a href="/logout" @click.prevent="logout">退出登录</a>
        </div>
    </div>
    <div id="app" th:inline="none">
        <div class="right-sidebar">
            <div><span style="margin-left: 10px; font-size: 18px; letter-spacing: 2px;">好友列表</span></div>

            <div class="search-box">
                <input type="text" class="search-input" v-model="friendprefix" placeholder="搜索">
                <button class="search-button" @click="getFriends">搜索</button>
            </div>

            <div class="search-result">
                <button v-for="friendName in friendNames" :key="friendName" @click="showHistory(friendName)">
                    {{ friendName }}
                </button>
            </div>

            <div class="add-box">
                <input type="text" class="search-input" v-model="searchInput" placeholder="添加好友">
                <button class="search-button" @click="searchFriends">搜索</button>
            </div>
            <div class="search-result">
                <p v-for="result in searchResults" :key="result.friendName">
                    {{ result.friendName }}
                    <button @click="sendFriendRequest(result.friendName)">发送申请</button>
                </p>
            </div>
        </div>
        <div class="main-content">
            <header>好友</header>
            <div class="upper-content" id="chat-content">
                <div v-for="message in Messages" :key="message.id">
                    <div v-if="message.self" id="self" class="message">
                        <!-- 表示自己发的内容 -->
                        {{ message.content }} - {{ message.time }} - {{ message.receiveState }}
                    </div>
                    <div v-else id="friend" class="message">
                        <!-- 表示对方发的内容 -->
                        {{ message.content }} - {{ message.time }} - {{ message.receiveState }}
                    </div>
                </div>
            </div>
            <div class="lower-content">
                <form @submit.prevent="submitMessage">
                    <input type="text" class="input-box" placeholder="输入消息" v-model="newMessage" name="message">
                    <button type="submit" class="send-button" >发送</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            stompClient: null,
            friendNames: ["default","default2"],
            Messages: [],
            newMessage: '',
            userID: '',
            friendprefix:'',
            friendID:'',
            friendName:'',
            searchInput: '', // 新增搜索输入变量
            searchResults: [{
                friendID: 1,
                friendName:'lcl'
            }], // 新增搜索结果变量
        },
        created() {
            axios.get('/api/getCurrentID')
                .then(response => {
                    this.data = response.data;
                    console.log("userID:"+this.data);
                    console.log("userIDDD"+this.data.userID);
                    console.log(this);
                    console.log(this.data);
                    const socket = new SockJS(`http://localhost:8080/websocket-endpoint/`+this.data.userID);

                    console.log('WebSocket connection established.');

                    // 第二个 Axios 请求，将用户ID与 WebSocketSession 关联
                    this.stompClient = Stomp.over(socket);

                    this.stompClient.connect({}, () => {
                        console.log('Connected to server');

                        this.stompClient.subscribe('/user/queue/'+this.data.userID+'/friends', (data) => {
                            let response = JSON.parse(data.body);
                            this.$set(this, 'friendNames', response.map(item => item.friendNames));
                        });



                        this.stompClient.subscribe('/user/queue/'+this.data.userID+'/History', (data) => {
                            let response = JSON.parse(data.body);
                            this.$set(this, 'Messages', response);
                            console.log("History"+response);
                        });

                        this.stompClient.subscribe('/user/queue/'+this.data.userID+'/Msg', (data) => {
                            let response = JSON.parse(data.body);
                            this.Messages.push(response);
                        });

                        // Send a request to get all friends
                        this.getAllFriends();
                    });
                })
                .catch(error => {
                    console.error(error);
                });
        },
        beforeDestroy() {
            // 断开WebSocket连接
            this.stompClient.subscriptions.forEach(subscription => {
                subscription.unsubscribe();
            });

            // 断开WebSocket连接
            if (this.stompClient !== null && this.stompClient.connected) {
                this.stompClient.disconnect();
                axios.delete(`/api/removeSession/`+this.data.userID)
                    .then(response => {
                        console.log(response.data);
                        // 处理删除成功的逻辑，如果需要的话
                    })
                    .catch(error => {
                        console.error(error);
                        // 处理删除失败的逻辑，如果需要的话
                    });
            }
        },
        methods: {
            getFriends() {

                // Clear existing friends before making a new request
                this.friendNames = [];
                if(this.friendprefix === ''){
                    this.getAllFriends();
                }else{
                    this.stompClient.send('/send/getFriends' ,{}, this.friendprefix);
                }
            },
            getAllFriends() {
                this.stompClient.send('/send/getAllFriends', {});
            },
            searchFriends() {
                // 发送搜索请求
                axios.post('/api/searchFriends', { searchInput: this.searchInput })
                    .then(response => {
                        // 获取搜索结果并更新searchResults
                        this.searchResults = response.data;
                        // 清空搜索输入框
                        this.searchInput = '';
                    })
                    .catch(error => {
                        console.error('Error searching friends:', error);
                    });
            },
            sendFriendRequest(friendName) {
                axios.post('/api/friendApply', { friendName })
                    .then(response => {
                        console.log('Friend request sent successfully');
                        // You might want to update UI or show a notification here
                    })
                    .catch(error => {
                        console.error('Error sending friend request:', error);
                    });
            },
            showHistory(friendName) {
                this.friendName=friendName;
                this.stompClient.send('/send/getHistory' ,{}, friendName);
            },
            sendMessage() {
                var data={
                    "messageContent":this.newMessage,
                    "friendName":this.friendName,
                };
                this.stompClient.send('/send/sendMessages', {}, JSON.stringify(data));
            },
            submitMessage() {

                if (this.newMessage.trim() !== '') {
                    this.sendMessage();
                    this.newMessage = '';
                }
            }
        },
    });

</script>
<div class="footer">欢迎使用社交网络系统</div>
</body>

</html>