body {
    height: 700px;
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    height: auto;
    /* 调整页眉的高度 */
    top: 0;
    right: 0;
    left: 0px;
    bottom: auto;
    color: #FFFFFF;
    background-color: #75c8d8;
    text-align: left;
    line-height: 3;
    /* 调整行高 */
}

.nav {
    width: 200px;
    /* 导航栏的宽度 */
    height: 100%;
    /* 导航栏的高度 */
    position: fixed;
    /* 导航栏固定在左边 */
    background-color: #d0e4e8;
    /* 导航栏的背景颜色 */
    padding: 20px;
    /* 导航栏的内边距 */
}

/* 定义链接的样式 */
.nav a {
    display: block;
    /* 链接显示为块级元素 */
    color: black;
    /* 链接的文字颜色 */
    text-decoration: none;
    /* 去掉链接的下划线 */
    margin-bottom: 10px;
    /* 链接之间的间距 */
}

/* 定义链接在鼠标悬停时的样式 */
.nav a:hover {
    background-color: #e0e0e0;
    /* 链接的背景颜色变淡 */
}

.nav a.active {
    background-color: #b6d9d9;
}

.main-content {
    position: fixed;
    height: 580px;
    top: 55px;
    /* 调整内容区域的上边距 */
    right: 380px;
    /* 调整内容区域的右边距，与右侧栏的宽度保持一致 */
    left: 245px;
    /* 调整内容区域的左边距，与左侧栏的宽度保持一致 */
    background-color: #FFFFFF;
    text-align: center;
    line-height: 4;
    display: flex;
    flex-direction: column;

}

.upper-content {
    flex-grow: 2;
}

.lower-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-box {
    width: 90%;
    display: flex;
    justify-content: center;
}

.input-box input {
    width: calc(100% - 80px);
    height: 30px;
    padding: 5px;
    font-size: 16px;
}

.input-box button {
    width: 80px;
}


.left-sidebar {

    position: fixed;
    width: 250px;
    /* 扩大左侧栏的宽度为 250px */
    height: auto;
    top: 55px;
    right: auto;
    bottom: 30px;
    left: 0;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 3;
}

.right-sidebar {

    position: fixed;
    width: 375px;
    /* 减小右侧栏的宽度为 375px */
    height: 590px;
    /* 调整右侧栏的高度 */
    top: 55px;
    right: 0;
    bottom: 30px;
    left: auto;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 3;
    z-index: 1;
}

.footer {
    position: fixed;
    width: 100%;
    height: auto;
    /* 调整页脚的高度 */
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    color: #FFFFFF;
    background-color: #75c8d8;
    text-align: center;
    line-height: 4;
    /* 调整行高 */
}

.search-box {
    margin-bottom: 20px;
}

.search-input {
    width: 90%;
    height: 30px;
    padding: 5px;
    font-size: 16px;
}

.search-button {
    width: 90%;
    height: 30px;
    background-color: #75c8d8;
    color: white;
    border: none;
    cursor: pointer;
}

.search-result {
    margin-top: 20px;
}

.chat-item {
    margin: 0;
    padding: 5px;
}
