<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="static/vue/logout.js"></script>
  <title>群组</title>
    <link href="static/css/navigation.css" rel="stylesheet" type="text/css">
    <link href="static/css/group.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <span style="margin-left: 10px;">whisperworld</span>
</div>
<aside>
	<div class="nav" id="out">
         <span style="font-size: 20px;  letter-spacing: 2px;">功能列表</span>
        <a href="/home ">首页</a>
        <a href="/companion">好友</a>
        <a href="/group"  class="active">群组</a>
        <a href="/topics">话题</a>
        <a href="/profile">个人中心</a>
        <a href="/logout" @click.prevent="logout">退出登录</a>
	</div>
	</aside>
  <section>
    <div class="left" th:inline="none">
        <div class="signature">群组</div>
         <div class="group">
            <ul class="group-list">
                <li v-for="group in groups" :key="groupId">
                    <button @click="showHistory(groupId)">
                        {{group.groupName }}
                    </button>
                </li>
            </ul>
         </div>
    </div>
    <div class="left1">
        <div class="signature">群搜索</div>

            <div class="search-box">
                <input type="text" class="search-input" placeholder="搜索群聊">
                <button class="search-button" @click="getFriends">搜索</button>
            </div>
            <div class="search-result">
                <ul class="group-list2">
                    <li v-for="result in searchResults" :key="result.userName">
                        <div class="p">{{ result.friendNames }}</div>
                        <button @click="sendFriendRequest(result.friendNames)">申请加群</button>
                    </li>
                </ul>
            </div>

    </div>
    <div class="right">
<!--        <div class="style" id="formwrapper">-->
<!--            <form @submit.prevent="validate" name="apForm" id="apForm">-->
<!--                <h2>用户注册</h2>-->
<!--                <div>-->
<!--                    <label for="userName">用户名:</label>-->
<!--                    <input v-model="userName" type="text" name="userName" id="userName"/><b>*</b>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="userPassword">密 码:</label>-->
<!--                    <input v-model="userPassword" type="password" name="userPassword" id="userPassword"-->
<!--                           placeholder="最少6个字符要有数字和字母"/><b>*</b>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="confirm_password">重复密码:</label>-->
<!--                    <input v-model="confirm_Password" type="password" name="confirm_password" id="confirm_password"/><b>*</b>-->
<!--                </div>-->

<!--                <div class="sex">-->
<!--                    <label for="userSex">性 别:</label>-->
<!--                    <input type="radio" class="selector" name="userSex" value="M" v-model="userSex"/>男&nbsp-->
<!--                    <input type="radio" class="selector" name="userSex" value="F" v-model="userSex"/> 女-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="userPhone">手机号:</label>-->
<!--                    <input v-model="userPhone" type="text" name="userPhone" id="userPhone" class="input"/><b>*</b>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="userBDate">生 日:</label>-->
<!--                    <input v-model="userBDate" type="date" name="userBDate" id="userBDate"/><b>*</b>-->
<!--                </div>-->
<!--                <br>-->
<!--                &lt;!&ndash; submit button &ndash;&gt;-->
<!--                <div class="login-container">-->
<!--                    <button type="submit" class="login-button">注册</button>-->
<!--                </div>-->

<!--                <div class="foot">-->
<!--                    <p>已有账号？<a href="/login">立即登录</a></p>-->
<!--                    <p>(*为必填)</p></div>-->
<!--            </form>-->
<!--        </div>-->
    </div>
    </section>

<div class="footer">欢迎使用社交网络系统</div>
</body>
</html>
