<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="static/vue/logout.js"></script>
	<title>首页</title>
	<link href="static/css/home.css" rel="stylesheet" type="text/css">
	<link href="static/css/navigation.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
	<span style="margin-left: 10px;font-weight: bold;">whisperworld</span>
</div>
	<aside>
		<div class="nav" id="out">
			<span style="font-size: 20px;  letter-spacing: 2px;">功能列表</span>
			<a href="/home"  class="active">首页</a>
			<a href="/companion">好友</a>
			<a href="/group">群组</a>
			<a href="/topics">话题</a>
			<a href="/profile">个人中心</a>
			<a href="/logout" @click.prevent="logout">退出登录</a>
		</div>
	</aside>
	<section>
		<div class="outer-container">
			<div class="announcement-container">
				<h2>公告</h2>
			</div>
			<div class="scrollable-text" id="app" th:inline="none">
				<!-- 使用 v-for 遍历 notices 数组，并按顺序显示公告内容 -->
				<p v-for="notice in notices" :key="notice.notificationId">{{ notice.notificationContent}} -- {{ notice.notificationTime }}</p>
			</div>
		</div>
	</section>

<div class="footer">欢迎使用社交网络系统</div>

	<script>
	new Vue({
		el:'#app',
		data:{
			notices:[],// 接收后端发来的公告
		},
		mounted(){
			// 在组件挂载后，发送请求获取公告数据
			this.getNotices();
		},
		methods:{
			getNotices(){
				// 使用 Axios 或其他方式发送请求获取公告数据
				axios.get('/api/getNotices')
						.then(response => {
							// 获取到公告数据后更新 notices
							this.notices = response.data;
							this.notices.notificationTime = new Date(this.notices.notificationTime).toLocaleDateString();
						})
						.catch(error => {
							console.error('Error getting notices:', error);
						});
			},
		},
	});
	</script>
</body>

</html>