<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link href="home.css" rel="stylesheet" type="text/css">
	<link href="navigation.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
	<span style="margin-left: 10px; font-size: 18px; letter-spacing: 2px;">社交网络系统</span>
</div>
	<aside>
		<div class="nav">
			<span style="font-size: 20px;  letter-spacing: 2px;">功能列表</span>
			<a href="home.html " class="active">首页</a>
			<a href="companion.html">好友</a>
			<a href="group.html">群组</a>
			<a href="topics.html">话题</a>
			<a href="profile.html ">个人中心</a>
			<a href="logout.html">退出登录</a>
		</div>
	</aside>
	<section>
		<div class="outer-container">
			<div class="announcement-container">
				<h2>公告</h2>
			</div>
			<div class="scrollable-text">
				<p>{{notice}}</p>

			</div>
		</div>
	</section>

<div class="footer">欢迎使用社交网络系统</div>

	<script>
		// 获取公告段落元素
		const noticeParagraph = document.querySelector('.scrollable-text p');

		// 从服务器获取公告数据
		fetch('/get-notice')
			.then(response => response.json())
			.then(notices => {
				// 创建文档片段以保存公告元素
				const fragment = document.createDocumentFragment();

				// 为每条公告创建一个 span 元素
				notices.forEach((notice, index) => {
					const span = document.createElement('span');
					span.textContent = notice;
					fragment.appendChild(span);

					// 在每条公告后面添加一个换行符，除了最后一条
					if (index < notices.length - 1) {
						const br = document.createElement('br');
						fragment.appendChild(br);
					}
				});

				// 将公告元素添加到公告段落中
				noticeParagraph.appendChild(fragment);
			});

	</script>
</body>

</html>