<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="static/vue/logout.js"></script>
    <title>图书</title>
    <link href="static/css/library.css" rel="stylesheet" type="text/css">
    <link href="static/css/navigation.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <span style="margin-left: 10px;font-weight: bold;">whisperworld</span>
</div>
<aside>
    <div class="nav" id="out">
        <span style="font-size: 20px;  letter-spacing: 2px;">功能列表</span>
        <a href="/home">首页</a>
        <a href="/companion">好友</a>
        <a href="/group">群组</a>
        <a href="/topics">话题</a>
        <a href="/library" class="active">图书</a>
        <a href="/profile">个人中心</a>
        <a href="/logout" @click.prevent="logout">退出登录</a>
    </div>
</aside>
<section>
    <div id="app" th:inline="none">
        <div class="container">

            <div v-if="selectedNovel === null || selectedNovel === novel" v-for="novel in novels"
                 class="novel-container" :key="novel.id">
                <div class="novel-info"  v-show="!selectedChapter">
                    <button @click="toggleChapters(novel)" class="title-button">{{novel.title}}</button>
                    <p class="author">作者:{{ novel.author }}</p>
                    <p class="chapter">章节:共{{novel.chapter}}章</p>
                    <p class="description">简介:{{novel.description }}</p>
                    <button class="download-button" @click="download(novel.id,novel.title)">Download
                    </button>
                    <div v-if="selectedNovel == novel && novel.showChapters">
                        <div class="chapter-title">章节目录</div>
                        <div class="button-container">
                            <div v-for="chapter in  getChapterArray(novel.chapter)" :key="chapter">
                                <button @click="getPage(novel.id,chapter,1)">第{{ chapter}}章</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="selectedNovel && selectedChapter" class="content">
                    <h2>{{selectedNovel.title}}&nbsp; 第{{selectedChapter}}章</h2>
                    <p>{{Content}}</p>
                    <div class="content-button">
                        <button @click="getPreviousChapter()">上一章</button>
                        <button @click="getPreviousPage()">上一页</button>
                        <button @click="getNextPage()">下一页</button>
                        <button @click="getNextChapter()">下一章</button>
                        <button @click="addBookmark()">添加书签</button>
                        <button @click="goBack()">返回上一步</button>
                    </div>
                    <div class="search-box">
                        <input type="text" class="search-input" v-model="searchPage" placeholder="输入页数">
                        <button  @click="getPage(selectedNovel.id,selectedChapter,searchPage)">跳转</button>
                    </div>
                </div>

            </div>

            <div class="bookmark">
                <div class="signature">书签</div>
                <ul class="bookmark-container">
                    <li v-for="bookmark in bookmarks" :key="bookmark.title">
                        <div class="mark">
                            <button class="bookmark-button"
                                    @click="getPage(bookmark.title,bookmark.chapter,bookmark.page)">
                                <span class="bookmark_title"> {{ bookmark.title }}</span>
                                <span class="bookmark_chapter">第{{bookmark.chapter}}章&nbsp第{{bookmark.page}}页</span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="footer">本页面仅供个人学习，小说皆为网上搜索，若有侵权请发送邮箱联系3141254030@qq.com</div>
<script>
    new Vue({
        el: '#app',
        data: {
            currentPage: 1,
            searchPage:null,
            bookmarks: [{
                title: 'Novel 1',
                chapter: 5,
                page: 1
            }],
            novels: [
                {
                    id: 1,
                    title: 'Novel 1',
                    author: 'Author 1',
                    description: '《百年孤独》写的是布恩地亚一家七代人充满神奇色彩的坎坷经历和马贡多这个小镇一百多年来从兴建、发展、鼎盛及至消亡的历史。作品内容复杂，人物众多，情节离奇，手法新颖，它汇集了不可思议的奇迹和最纯粹的现实生活，深刻反映了歌伦比亚乃至整个拉美大陆的历',
                    chapter: 5,
                    showChapters: false,//未进入目录
                },
                {
                    id: 2,
                    title: 'Novel 2',
                    author: 'Author 1',
                    description: 'Description 1',
                    chapter: 6,
                    showChapters: false,
                },
                {
                    id: 3,
                    title: 'Novel 3',
                    author: 'Author 2',
                    description: 'Description 2',
                    chapter: 8,
                    showChapters: false,
                },
                // Add more novels as needed
            ],
            Content: null,
            selectedNovel: null,
            selectedChapter: null
        },
        created() {
            this.getAll();
            this.getBookmark();
        },
        methods: {
            getAll() {
                axios.get('/novel/getAll')
                    .then(response => {
                        this.novels = response.data;
                    })
                    .catch(error => {
                        console.error('Error getting novels:', error);
                    });
            },
            getBookmark() {
                axios.get('/novel/getBookmark')
                    .then(response => {
                        this.bookmarks = response.data;
                    })
                    .catch(error => {
                        console.error('Error getting bookmarks:', error);
                    });
            },
            toggleChapters(novel) {
                novel.showChapters = !novel.showChapters; // 切换showChapters的值
                this.selectedNovel = novel.showChapters ? novel : null; // 设置或清除选中的小说
                // 如果需要显示章节，那么获取章节
                if (novel.showChapters) {
                    this.getChapterArray(novel.chapter);
                }
            },
            getChapterArray(totalChapters) {
                // Create an array of chapter numbers from 1 to totalChapters
                return Array.from({length: totalChapters}, (_, index) => index + 1);
            },
            getPage(id, chapter, page) {
                this.selectedChapter = chapter;
                this.currentPage = page;
                this.Content = '《百年孤独》写的是布恩地亚一家七代人充满神奇色彩的坎坷经历和马贡多这个小镇一百多年来从兴建、发展、鼎盛及至消亡的历史。作品内容复杂，人物众多，情节离奇，手法新颖，它汇集了不可思议的奇迹和最纯粹的现实生活，深刻反映了歌伦比亚乃至整个拉美大陆的历';
                axios.get(`/novel/getPage/${id}/${chapter}/${page}`)
                    .then(response => {
                        this.Content = response.data.content;
                        this.isEnd = response.data.isEnd;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            getPreviousChapter() {
                if (this.selectedChapter > 1) {
                    this.getPage(this.selectedNovel.id, this.selectedChapter - 1,1);
                }else {
                    alert('已是第一章');
                }
            },
            getNextChapter() {
                if (this.selectedChapter < this.selectedNovel.chapter) {
                    this.getPage(this.selectedNovel.id, this.selectedChapter + 1,1);
                }else {
                    alert('小说到这结束了，谢谢观看');
                }
            },
            getPreviousPage() {
                if (this.currentPage > 1) {
                    this.getPage(this.selectedNovel.id, this.selectedChapter, this.currentPage - 1);
                } else  {
                    this.getPreviousChapter();
                }
            },
            getNextPage(){
                if (!this.isEnd) {
                    this.getPage(this.selectedNovel.id, this.selectedChapter, this.currentPage + 1);
                } else {
                    this.getNextChapter();
                }
            },
            goBack(){
                this.selectedChapter = null;
                this.Content = null;
            },
            download(id, title) {
                // Make a GET request to the /novel/download endpoint
                axios.get('/novel/download/'+id, {
                    responseType: 'blob', // Set the response type to blob
                })
                    .then(response => {
                        // Create a Blob from the response data
                        const blob = new Blob([response.data], {type: 'text/plain'});

                        // Create a temporary link element
                        const link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);

                        // Set the download file name to the novel's title
                        link.download = `${title}.txt`;

                        document.body.appendChild(link);

                        // Simulate a click to trigger the download
                        link.click();

                        // Remove the temporary link
                        document.body.removeChild(link);
                    })
                    .catch(error => {
                        // Log an error if there's an issue with the request
                        console.error('Error downloading TXT file:', error);
                    });
            },
        }
    })
</script>
</body>
</html>