<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>退出登录</title>
    <link href="navigation.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <span style="margin-left: 10px; font-size: 18px; letter-spacing: 2px;">社交网络系统</span>
</div>
<aside>
    <div class="nav">
        <span style="font-size: 20px;  letter-spacing: 2px;">功能列表</span>
        <a href="home.html ">首页</a>
        <a href="companion.html">好友</a>
        <a href="group.html">群组</a>
        <a href="topics.html">话题</a>
        <a href="profile.html ">个人中心</a>
        <a href="logout.html" class="active">退出用户</a>
    </div>
</aside>
<div class="footer">欢迎使用社交网络系统</div>
</body>
</html>