h2{
    font-size:20px;
    text-align:center;
}
.outer-container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    padding: 15px;
    display: flex;
    flex-direction: column;
    max-height:450px;
}
section {
    position: fixed;
    width: auto;
    height: auto;
    top: 55px; /* 调整内容区域的上边距 */
    right: 0px;
    bottom: 30px;
    left: 250px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.announcement-container {
    margin-bottom: 0px;
}
.scrollable-text {
    overflow: auto;
    height: 425px;
    width: 500px;
    padding: 20px;
}