<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="static/vue/logout.js"></script>
	<script src="static/vue/sendtopic.js"></script>
	<title>话题</title>
	<link href="static/css/navigation.css" rel="stylesheet" type="text/css">
	<link href="static/css/topics.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
	<span style="margin-left: 10px; font-size: 18px; letter-spacing: 2px;">社交网络系统</span>
</div>
	<aside>
		<div class="nav" id="out">
			<span style="font-size: 20px;  letter-spacing: 2px;">功能列表</span>
			<a href="/home ">首页</a>
			<a href="/companion">好友</a>
			<a href="/group">群组</a>
			<a href="/topics"  class="active">话题</a>
			<a href="/profile">个人中心</a>
			<a href="/logout" @click.prevent="logout">退出登录</a>
		</div>
	</aside>
	<section>
		<div id="left">
			<div class="signature">个性签名</div>
			<div> 万事都要全力以赴，包括开心</div>
		</div>
		<div id="left1">
			<div>
				<p>留言板</p>
				<form action="/sendtopic" method="post">
					<textarea v-model="topicContent" name="topicContent" rows="10" cols="20" placeholder="写点话题吧"></textarea><br><input type="submit"
						value="发送">
				</form>
			</div>
		</div>
		<div id="right">
			<div v-for="topic in topics" :key="topic.id">
				<p>{{ topic.topicContent }}</p>
				<button @click="toggleCommentForm(topic.id)">评论</button>
				<button @click="likeTopic(topic.id)">点赞</button>

				<!-- 评论表单，初始状态为隐藏 -->
				<div v-if="showCommentForm[topic.id]">
					<textarea v-model="commentText[topic.id]" placeholder="输入评论"></textarea>
					<button @click="postComment(topic.id)">发表评论</button>
				</div>

				<!-- 评论列表 -->
				<div>
					<p v-for="comment in topic.comments" :key="comment.id">{{ comment.commentContent }}</p>
				</div>
			</div>
		</div>
	</section>
<div class="footer">欢迎使用社交网络系统</div>
<script>

</script>
</body>
</html>