<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="static/vue/logout.js"></script>
	<script src="static/vue/sendtopic.js"></script>
	<title>话题</title>
	<link href="static/css/navigation.css" rel="stylesheet" type="text/css">
	<link href="static/css/topics.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
	<span style="margin-left: 10px;">whisperworld</span>
</div>
	<aside>
		<div class="nav" id="out">
			<span style="font-size: 20px;  letter-spacing: 2px;">功能列表</span>
			<a href="/home ">首页</a>
			<a href="/companion">好友</a>
			<a href="/group">群组</a>
			<a href="/topics"  class="active">话题</a>
			<a href="/profile">个人中心</a>
			<a href="/logout" @click.prevent="logout">退出登录</a>
		</div>
	</aside>
	<section>
		<div id="left">
			<div class="signature">个性签名</div>
			<div> 万事都要全力以赴，包括开心</div>
		</div>
		<div id="left1">
			<div>
				<p>留言板</p>
				<form action="/sendtopic" method="post">
					<textarea v-model="topicContent" name="topicContent" rows="10" cols="20" placeholder="写点话题吧"></textarea><br><input type="submit"
						value="发送">
				</form>
			</div>
		</div>

		<div id="right" th:inline="none">
			<div v-for="topic in topics" :key="topicId">
				<p>
					{{ topic.username }} -- {{ topic.topicContent }} -- {{ topic.topicLaunchTime }}
					<button @click="likeTopic(topicId)">点赞</button>
				</p>
				<!-- 显示评论输入框 -->
				<textarea v-model="topic.commentContent" placeholder="留下你们的评论吧"></textarea>
				<button  @click="submitComment(topicId)">提交评论</button>
				<!-- 显示评论列表 -->
				<div v-if="topic.showComments">
					<div v-for="comment in topic.comments" :key="comment.commentId">
						<p>
							{{ comment.topicCommentusername }} -- {{ comment.commentContent }} -- {{ comment.commentTime }}
						</p>
					</div>
				</div>


			</div>
		</div>
	</section>
<div class="footer">欢迎使用社交网络系统</div>
<script>
	new Vue({
		el:'#right',
		data:{
			topics:[
				{

					comments: [],
				},
			],// 接收后端发来的话题
		},
		mounted(){
			// 在组件挂载后，发送请求获取话题数据
			this.refreshData();
			setInterval(this.refreshData,60000);
			//在后端获取userid转换为username

		},
		methods:{
			//获取话题
			getTopics(){
				// 使用 Axios 或其他方式发送请求获取话题数据
				axios.get('/api/getTopics')
						.then(response => {
							// 获取到话题数据后更新 topics
							this.topics = response.data;
						})
						.catch(error => {
							console.error('Error getting notices:', error);
						});
			},
			//点赞更新
			likeTopic(topicId) {
				// 检查用户是否已经点赞过该话题
				const alreadyLiked = this.topics.find((t) => t.id === topicId).likedByUser;
				if (!alreadyLiked) {
					// 发送请求给后端，更新点赞数量
					axios.post('/api/likeTopic', {userId: this.userId, topicId})
							.then((response) => {
								// 成功后更新点赞数量,(t)表示数组中的每个元素
								const updatedTopic = this.topics.find((t) => t.id === topicId);
								updatedTopic.likedByUser = true;
								updatedTopic.likeNum = response.data;
							})
							.catch((error) => {
								console.error('点赞时出错:', error);
							});
				}else {
					// 用户已经点赞过该话题，弹出提示框
					alert('你已经点赞过这个话题了！');
				}
			},
			//评论
			getComments() {
				this.topics.forEach(topic => { //遍历 topics 数组中的每个话题
					// 使用 Axios发送请求获取评论数据
					axios.get('/api/getComments', {topicId:topic.topicId})
							.then(response => {
								// 获取到评论数据后更新话题的评论列表
								topic.comments = response.data;
							})
							.catch(error => {
								console.error('获取评论数据失败:', error);
							});
				});
			},
			refreshData(){
				this.getTopics();
				this.getComments();
			},
		},
	});
</script>
</body>
</html>