section {
    position: fixed;
    width: auto;
    height: auto;
    top: 55px; /* 调整内容区域的上边距 */
    right: 0;
    bottom: 55px;
    left: 250px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left{
    #overflow: auto;
    position: absolute; /* 使用绝对定位 */
    top: 3%; /* 距离顶部的距离 */
    left: 20px; /* 距离左侧的距离 */
    float:left;
    width:24%;
    height: 43%;
    border: 1px solid #ccc;
    border-radius:10px;
    box-shadow: 0 2px 4px rgba(39, 127, 145, 0.2);
    #background-color: #75c8d8;
}
.group{
    #background-color: #cccccc;
    overflow: auto;
    top:0;
    margin-top: 0;
    padding-top: 0;
    height: 200px; /* 设置group容器的最大高度，可以根据实际情况调整 */
    overflow-y: auto; /* 当内容溢出时显示垂直滚动条 */
}
.group::-webkit-scrollbar {
    width: 0.1em;
}
.group-list {
    margin-top: 3px;
    width:96%;
    margin-left: 2%;
    list-style: none;
    padding: 0;
    #background-color: #F1939C;
}

.group-list li {
    margin-bottom: 2px;
    #background-color: #75c8d8;
}
.group-list button {
    padding: 8px 12px;
    font-size: 15px;
    background-color: #cccccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* 让按钮变成块级元素，占据整个列表项的宽度 */
    width: 100%; /* 让按钮的宽度充满整个列表项 */
}

button:hover {
    background-color: #d0e4e8;
}
.left1{
    overflow: auto;
    position: absolute;
    float:left;
    top:49%;
    #bottom: 50px;
    left: 20px;
    width: 24%;
    height: 43%;
    border: 1px solid #d0e4e8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(39, 127, 145, 0.2);
    #background-color: #75c8d8;
}
.member{
    overflow: auto;
    top:2px;
    margin-top: 0;
    padding-top: 0;
    height: 200px; /* 设置group容器的最大高度，可以根据实际情况调整 */
    overflow-y: auto; /* 当内容溢出时显示垂直滚动条 */
    #background-color: #F1939C;
}
.member::-webkit-scrollbar {
    width: 0.1em;
}
.member-list {
    margin-top: 4px;
    width:96%;
    margin-left: 2%;
    list-style: none;
    padding: 0;
    #background-color: #F1939C;
}

.member-list li {
    padding-left: 3px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    font-size: 15px;
    height:33px;
    color: #fff;
    border-radius: 5px;
    background-color: #B2DFEE;
}

.right{
    overflow: auto;
    position: absolute; /* 使用绝对定位 */
    top: 3%; /* 距离顶部的距离 */
    right: 3%; /* 距离右侧的距离 */
    width:66%;
    height:90%;
    border: 1px solid #ccc;
    border-radius:10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
.right header{
    #position: relative;
    height:55px;
    border: 2px solid #ccc;
    background-color: #b6d9d9;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color:#ffffff;
}
.upper-content {

    flex-grow: 2;
    height: 380px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;
    #margin-bottom: 10px;
    #background-color: #b6d9d9;
}
.message-container {
    display: flex;
    flex-direction: column;
    #justify-content: flex-end; /* Align messages to the right side */
    margin-bottom: 10px; /* Add some space between message containers */
}
.message {
    padding: 2px;
    margin: 4px;
    border-radius: 8px;
    max-width: 70%; /* Limit the maximum width of the message box */
    position: relative;
}
#self {
    /* 样式定义，自己发的消息 */
    background-color: #b3e6cc;
    width:50%;
    align-self: flex-end;
    #padding: 10px;
    margin: 5px;
}
#friend {
    /* 样式定义，对方发的消息 */
    background-color: #e6e6e6;
    align-self: flex-start;
    width:50%;
    #padding: 10px;
    margin: 5px;
}
.message .username {
    position: absolute;
    top: -45px;
    right: 0;
    font-weight: bold;
    margin: 5px;
    #color: #888;
}

.message .time {
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 0.8em;
    color: #666;
    margin: 5px;
}
.message .username2 {
    position: absolute;
    top: -45px;
    left: 0;
    font-weight: bold;
    margin: 5px;
    #color: #888;
}

.message .time2 {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 0.8em;
    color: #666;
    margin: 5px;
}
.lower-content {
    flex-grow: 1;
    position: relative;
    margin-top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #background-color: #9face6;
}
.input-box{
    width:500px;
    border: 1px solid #ccc;
    #display: flex;
    #background-color: #b6d9d9;
    justify-content: center;
    #width: calc(100% - 80px);
    height: 30px;
    #padding: 5px;
    font-size: 14px;
}
.send-button {
    width: 80px;
    background-color: #75c8d8;
    color:#ffffff;
    font-weight: bold;
    border: 0;
    height:30px;
    border-radius:10px;
    cursor: pointer;
}
.signature {
    #padding: 0;
    height:50px;
    padding-bottom: 7px;
    font-weight: bold;
    margin-bottom: 0;
    background-color:#b6d9d9;
    border-radius: 10px 10px 0 0;
    color: #ffffff;; /* 设置文字颜色为白色 */
}
.message-block {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 750px;
    margin-bottom: 10px;
    padding: 10px;
}
.upper-content button{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    color:#888888;
    font-size: 12px; /* 可以根据需要设置文字大小 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    text-decoration: none;
}
.upper-content button:hover {
    text-decoration: underline;
}