.main-content {
    position: fixed;
    overflow: auto;
    height: 80%;
    width:auto;
    margin: 0 auto;
    top: 60px;
    /* 调整内容区域的上边距 */
    right: 28%;
    /* 调整内容区域的右边距，与右侧栏的宽度保持一致 */
    left: 260px;
    /* 调整内容区域的左边距，与左侧栏的宽度保持一致 */
    border: 2px solid #ccc;
    text-align: center;
    line-height: 4;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}
.main-content header{
    height:50px;
    border: 1px solid #ccc;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color:#ffffff;
    background-color: #b6d9d9;
}
.upper-content {
    flex-grow: 2;
    height: 300px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;
    #margin-bottom: 10px;
    #background-color: #b6d9d9;
}
.upper-content button{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    color:#888888;
    font-size: 12px; /* 可以根据需要设置文字大小 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    text-decoration: none;
}
.upper-content button:hover {
    text-decoration: underline;
}
.lower-content {
    flex-grow: 1;
    display: flex;
    border: 1px solid #ccc;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #background-color: #9face6;
}
.input-box{
    width:400px;
    border: 1px solid #ccc;
    #display: flex;
    #background-color: #b6d9d9;
    justify-content: center;
    #width: calc(100% - 80px);
    height: 30px;
    #padding: 5px;
    font-size: 14px;
}
.send-button {
    width: 80px;
    background-color: #75c8d8;
    border: 0;
    height:30px;
    color:#ffffff;
    font-weight: bold;
    border-radius:10px;
    cursor: pointer;
}
.left-sidebar {
    position: fixed;
    width: 250px;
    /* 扩大左侧栏的宽度为 250px */
    height: auto;
    top: 55px;
    right: auto;
    bottom: 30px;
    left: 0;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 3;
}
.right-sidebar {
    position: fixed;
    overflow: auto;
    width: 25%;
    /* 减小右侧栏的宽度为 375px */
    height: 585px;
    /* 调整右侧栏的高度 */
    top: 55px;
    #left:1200px;
    right: 2px;
    margin-bottom: 30px;
    margin-left: auto;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 3;
    z-index: 1;
}
.right-sidebar span{
    font-weight: bold;
    color:#888888;
}
.message-container {
    display: flex;
    flex-direction: column;
    #justify-content: flex-end; /* Align messages to the right side */
    margin-bottom: 10px; /* Add some space between message containers */
}
.message {
    padding: 2px;
    margin: 4px;
    border-radius: 8px;
    max-width: 70%; /* Limit the maximum width of the message box */
    position: relative;
}
#self {
    /* 样式定义，自己发的消息 */
    background-color: #b3e6cc;
    width:50%;
    align-self: flex-end;
    #padding: 10px;
    margin: 5px;
}
#friend {
    /* 样式定义，对方发的消息 */
    background-color: #e6e6e6;
    align-self: flex-start;
    width:50%;
    #padding: 10px;
    margin: 5px;
}
.timestamp {
    font-size: 11px;
    position: absolute;
    top: -10px;
    left: 2px;
    color: #888;
}
.receive-status {
    font-size: 12px;
    position: absolute;
    bottom: -28px;
    right: 5px;
    color: #888;
}
.timestamp2 {
    font-size: 11px;
    position: absolute;
    top: -10px;
    right: 2px;
    color: #888;
}
.receive-status2 {
    font-size: 12px;
    position: absolute;
    bottom: -28px;
    left: 5px;
    color: #888;
}

.search-box {
    margin-bottom: 2px;
    margin-left: 0;
    padding-left: 0;
    #background-color: #F1939C;
}
.search-input {
    width: 50%;
    height: 28px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(39, 127, 145, 0.2);
    border:none;
    padding-left: 5px;
    font-size: 16px;
}
.search-button {
    width: 23%;
    height: 30px;
    background-color: #75c8d8;
    color: white;
    border: 0;
    border-radius:10px;
    cursor: pointer;
}
.search-result {
    margin-top: 1px; /* Add space between the search box and the friend list */
    #height:120px;
    #max-height:80px;
    #overflow-y: scroll;
    #background-color: #F1939C;
}

.friend-list {
    list-style: none; /* Remove default list styles */
    padding: 0;
    margin-top: 0;
    height:160px;
    overflow-y: scroll;
    width: 350px;
    margin-left: 12%;
    #background-color: #F1939C;
}

.friend-list li {
    margin-bottom: 4px;
    margin-right: 12%;
    display: flex;
    align-items: center;
    #justify-content: space-between;
    background-color: #b6d9d9;
}

.chat button {
    background-color: #cccccc;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
    #padding: 10px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    text-align: left; /* Align text to the left */
    #display: block;
}
.chat{
    flex: 7;
    margin-right: 0;
    display: flex;
    justify-content: center;
    padding: 0;
}
.delete{
    flex: 2.5;
    background-color: #b6d9d9;
    color: #fff;
    left:0;
    float:right;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 12px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    #width: 500px; /* Make the buttons fill the container width */
    text-align: center; /* Align text to the left */
    #display: block;
}
.delete:hover{
    background-color: #C73E3A;
}
.chat button:hover {
    background-color: #d0e4e8;
}

/* Optional: Add more styling as needed */
.search-result button {
    font-size: 16px;
    width: 90%;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    display: block;
    margin-bottom: 5px; /* 调整垂直间距 */
}
.search-box2 {
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
    #background-color: #F1939C;
}
.friend-list2 {
    list-style: none; /* Remove default list styles */
    padding: 0;
    margin-top: 0;
    height:160px;
    overflow-y: scroll;
    width: 350px;
    margin-left: 12%;
    #background-color: #F1939C;
}

.friend-list2 li {
    margin-bottom: 2px;
    height:40px;
    display: flex;
    align-items: center;
    margin-right: 12%;
    justify-content: space-between;

}
.p{
    width:198px;
    #border: 1px solid #333;
    background-color: #b6d9d9;
    margin-left: 0;
    height: 33px;
    color:#888888;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
    text-align: left;
    #background-color: #75c8d8;
}
.friend-list2 button {
    background-color: #cccccc;
    color: #fff;
    float:right;
    font-weight: bold;
    border-radius: 5px;
    padding-bottom: 3px;
    #margin-right: 10px;
    border: none;
    cursor: pointer;
    height: 33px;
    width: 30%; /* Make the buttons fill the container width */
    text-align: center; /* Align text to the left */
    #display: block;
}
.friend-list2 button:hover {
    background-color: #d0e4e8;
}

.chat-item {
    margin: 0;
    padding: 5px;
}
