.main-content {
    position: fixed;
    height: 550px;
    width:800px;
    margin: 0 auto;
    top: 55px;
    /* 调整内容区域的上边距 */
    right: 380px;
    /* 调整内容区域的右边距，与右侧栏的宽度保持一致 */
    left: 245px;
    /* 调整内容区域的左边距，与左侧栏的宽度保持一致 */
    border: 2px solid #ccc;
    text-align: center;
    line-height: 4;
    display: flex;
    flex-direction: column;
}
.main-content header{
    height:50px;
    border: 2px solid #ccc;
}
.upper-content {
    flex-grow: 2;
    height: 300px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
    #background-color: #b6d9d9;
}
.lower-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #background-color: #9face6;
}
.input-box{
    width:500px;
    border: 1px solid #ccc;
    #display: flex;
    #background-color: #b6d9d9;
    justify-content: center;
    #width: calc(100% - 80px);
    height: 30px;
    #padding: 5px;
    font-size: 14px;
}
.send-button {
    width: 80px;
    background-color: #75c8d8;
    border: 0;
    height:30px;
    border-radius:10px;
    cursor: pointer;
}
.left-sidebar {

    position: fixed;
    width: 250px;
    /* 扩大左侧栏的宽度为 250px */
    height: auto;
    top: 55px;
    right: auto;
    bottom: 30px;
    left: 0;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 3;
}

.right-sidebar {
    position: fixed;
    width: 375px;
    /* 减小右侧栏的宽度为 375px */
    height: 580px;
    /* 调整右侧栏的高度 */
    top: 55px;
    right: 0;
    bottom: 30px;
    left: auto;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 3;
    z-index: 1;
}
.message-container {
    display: flex;
    justify-content: flex-end; /* Align messages to the right side */
    margin-bottom: 10px; /* Add some space between message containers */
}
.message {
    padding: 2px;
    margin: 4px;
    border-radius: 8px;
    #max-width: 70%; /* Limit the maximum width of the message box */
}
#self {
    /* 样式定义，自己发的消息 */
    background-color: #b3e6cc;
    width:50%;
    align-self: flex-end;
    #padding: 10px;
    margin: 5px;
}
#friend {
    /* 样式定义，对方发的消息 */
    background-color: #e6e6e6;
    align-self: flex-start;
    width:50%;
    #padding: 10px;
    margin: 5px;
}
.search-box {
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
}
.search-input {
    width: 50%;
    height: 28px;
    #margin-left: 5px;
    padding-left: 5px;
    font-size: 16px;
}
.search-button {
    width: 30%;
    height: 30px;
    background-color: #75c8d8;
    color: white;
    border: 0;
    border-radius:10px;
    cursor: pointer;
}
.search-result {
    margin-top: 0; /* Add space between the search box and the friend list */
}

.friend-list {
    list-style: none; /* Remove default list styles */
    padding: 0;
    width: 350px;
    margin-left: 30px;
    #background-color: #F1939C;
}

.friend-list li {
    margin-bottom: 4px;
}

.friend-list button {
    background-color: #cccccc;
    #color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    width: 100%; /* Make the buttons fill the container width */
    text-align: left; /* Align text to the left */
    display: block;
}

.friend-list button:hover {
    background-color: #d0e4e8;
}

/* Optional: Add more styling as needed */
.search-result button {
    font-size: 16px;
    width: 90%;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    display: block;
    margin-bottom: 5px; /* 调整垂直间距 */
}
.add-box{
    #margin-bottom: 0;
    width:100%;
    bottom:40%;
    position: absolute;
    #background-color: #75c8d8;
}
.chat-item {
    margin: 0;
    padding: 5px;
}
