section {
    position: fixed;
    width: auto;
    height: auto;
    top: 55px; /* 调整内容区域的上边距 */
    right: 0;
    bottom: 30px;
    left: 250px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signature {
    #padding: 0;
    height:50px;
    font-size: 17px;
    padding-bottom: 7px;
    font-weight: bold;
    margin-bottom: 0;
    background-color:#b6d9d9;
    border-radius: 10px 10px 0 0;
    color: #ffffff;; /* 设置文字颜色为白色 */
}
.left{
    #overflow: auto;
    position: absolute; /* 使用绝对定位 */
    top: 10px; /* 距离顶部的距离 */
    left: 60px; /* 距离左侧的距离 */
    float:left;
    width:400px;
    height: 270px;
    border: 1px solid #ccc;
    border-radius:10px;
    box-shadow: 0 2px 4px rgba(39, 127, 145, 0.2);
    #background-color: #75c8d8;
}
.group{
    #background-color: #cccccc;
    overflow: auto;
    margin-top: 5px;
    padding-top: 0;
    height: 200px; /* 设置group容器的最大高度，可以根据实际情况调整 */
    overflow-y: auto; /* 当内容溢出时显示垂直滚动条 */
}
.group-list {
    margin: 0;
    list-style: none;
    padding: 0;
}

.group-list li {
    margin-bottom: 2px;
    #background-color: #F1939C;
    height:36px;
}

.group-list button {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    height:36px;
    background-color: #cccccc;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block; /* 让按钮变成块级元素，占据整个列表项的宽度 */
    width: 96%; /* 让按钮的宽度充满整个列表项 */
    margin-left: 2%;
}

button:hover {
    background-color: #d0e4e8;
}
.left1{
    #overflow: auto;
    position: absolute;
    #float:left;
    bottom: 45px;
    left: 60px;
    width: 400px;
    height: 275px;
    border: 1px solid #d0e4e8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(39, 127, 145, 0.2);
    background-color: #f0f0f0;
}
#groupInfo {

}
.search-box {
    #margin-bottom: 2px;
    height: 55px;
    margin-left: 0;
    padding-left: 0;
    #background-color: #F1939C;
}
.search-input {
    width: 50%;
    height: 28px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(39, 127, 145, 0.2);
    border:none;
    padding-left: 5px;
    margin-top: 0;
    font-size: 16px;
}
.search-button {
    width: 23%;
    height: 30px;
    #font-size: 15px;
    font-weight: bold;
    background-color: #75c8d8;
    color: white;
    border: 0;
    border-radius:10px;
    cursor: pointer;
}
.search-result {
    margin-top: 1px; /* Add space between the search box and the friend list */
    #height:120px;
    #max-height:80px;
    #overflow-y: scroll;
    #background-color: #F1939C;
}
.group-list2 {
     list-style: none; /* Remove default list styles */
     padding: 0;
     margin-top: 0;
     height:160px;
     overflow-y: scroll;
     width: 350px;
     margin-left: 12%;
     #background-color: #F1939C;
 }

.group-list2 li {
    margin-bottom: 1px;
    height:40px;
    display: flex;
    align-items: center;
    margin-right: 9%;
    justify-content: space-between;
    #background-color: #F1939C;
}
.p {
    width: 200px;
    display: flex;
    align-items: center;
    background-color: #b6d9d9;
    height: 33px;
    color: #888888;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
}
.group-list2 button {
    background-color: #b6d9d9;
    color: #ffffff;
    float:right;
    #font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    padding-bottom: 3px;
    #margin-right: 10px;
    border: none;
    cursor: pointer;
    height: 33px;
    width: 30%; /* Make the buttons fill the container width */
    text-align: center; /* Align text to the left */
    #display: block;
}
.group-list2 button:hover {
    background-color: #75c8d8;
}
.right{
    #overflow: auto;
    position: fixed; /* 使用绝对定位 */
    top: 70px; /* 距离顶部的距离 */
    right: 70px; /* 距离右侧的距离 */
    width:600px;
    height:550px;
    border: 1px solid #ccc;
    border-radius:10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.style{
    #border-radius: 5px;
    #background-color:rgba(255, 255, 255, 0.8);
    font-size:16px;
    width: 420px;
    margin: 15px auto;
    padding: 20px;
    color:#FFFFFF;
    #border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background:#00000090;
    text-align:left;
    justify-content: center;
}
a{
    color:#1E7ACE;
    text-decoration:none;
}
a:hover{
    color:#cccccc;
    text-decoration:underline;
}
h2{
    font-size:26px;
    text-align:center;
}
label {
    float: left;
    width: 120px;
    text-align: right;
    margin: 1px;
    padding: 10px 1px;
    display: inline-block; /* 将label元素设置为行内块元素 */
}

.style input {
    #padding: 1px;
    margin: 2px;
    font-size: 14px;
    vertical-align: middle;
    width: 200px;
    border:0;
    border-bottom:2px solid #fff;
    padding:5px 10px;
    background:#ffffff00;
    color:#cccccc;
    #display: inline-block; /* 将input元素设置为行内块元素 */
}
.login-container {
    text-align:center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sex{
    text-align:center;
    margin-right: 70px;
}
.selector{
    width:15px;
}

.login-button {
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    width:100px;
    height:40px;
    font-size:17px;
    font-weight:700;
    color:#fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
button:hover{
    font-size: 18px;
    background-color: #2EA9DF;
}
form b{
    color:white;
}
.foot{
    text-align:center;
}
.right header{
    height:50px;
    border: 2px solid #ccc;
    background-color: #b6d9d9;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color:#ffffff;
}

.send-button {
    width: 80px;
    background-color: #75c8d8;
    color:#ffffff;
    font-weight: bold;
    border: 0;
    height:30px;
    border-radius:10px;
    cursor: pointer;
}

