h2 {
    font-size: 24px;
    text-align: center;
}
.container{
    position: fixed;
    display: flex;
    top:55px;
    width:800px;
    height:550px;
    flex-direction: column;
    justify-content: center;
    #background-color: #F1939C;
}
.outer-container1 {
    #position: absolute;
    height:200px;
    background-color:#D1EEEE;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 800px;
    margin-top: 30px;
    text-align: center;
    #align-items: flex-start;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    align-content: center;
    flex-direction: column;
    #overflow-y: scroll;
    max-height: 400px;
}
.outer-container2 {
    background-color: #D1EEEE;
    border: 1px solid #ccc;
    border-radius: 10px;
    height:220px;
    max-width: 800px;
    text-align: center;
    margin-top:30px;
    top: 20px;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    #overflow-y: scroll;
    max-height: 400px;

}

section {
    position: fixed;
    width: 1000px;
    height:600px;
    top: 55px;
    /* 调整内容区域的上边距 */
    bottom: 30px;
    margin-left: 400px;
    text-align: center;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.announcement-container {
    margin-top: 0;
    height:70px;
    padding-top: 0;
    #margin-bottom: 0;
    text-align: center;
    #background-color: #b6d9d9;
}

.scrollable-text {
    top: 0;
    flex: auto;
    overflow-y:scroll;
    max-height: 400px;
    #width:740px;
    padding: 0;
    #background-color: #F1939C;
}
.scrollable-text::-webkit-scrollbar {
    width: 0.1em;
}