body {
    font-size: 13px;
    background-image: url(/static/pictures/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.formwrapper {
    width: 450px;
    margin: 15px auto;
    padding: 20px;
    font-size: 16px;
    color:#FFFFFF;
    text-align:left;
    #border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    #display: flex;
    #flex-direction: column;
    #align-items: center;
    #justify-content: center;
    #background-color: rgba(255, 255, 255, 0.8);
    background:#00000070;
}
h2 {
    font-size: 26px;
    text-align: center;
   color:#fff;
}

input {
    #padding: 1px;
    #margin: 2px;
    font-size: 15px;
    #vertical-align: middle;
    #background-color: rgba(255, 255, 255, 0.8);
    #height: 28px;
    width: 210px;
    border:0;
    border-bottom:2px solid #fff;
    padding:5px 10px;
    background:#ffffff00;
    color:#fff;
}

label {
    float: left;
    width: 120px;
    text-align: right;
    margin: 1px;
    padding: 10px 1px;
}

.login-button {
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    width:100px;
    height:40px;
    font-size:16px;
    font-weight:700;
    color:#fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
button:hover{
    font-size: 18px;
    background-color: #2EA9DF;
}
.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
a{
    color:#1E7ACE;
    text-decoration:none;
    font-size:14px;
}
a:hover{
    color:#000;
    text-decoration:underline;
}
.footer{
    position: fixed;
    width: 100%;
    height: auto;
    /* 调整页脚的高度 */
    top: auto;
    bottom: 3px;
    right: 0;
    left: 0;
    color: #000000;
    #background-color: #75c8d8;
    text-align: center;
    font-size: 14px;
}
.footer a{
    color: white;
}