body{
    font-size:13px;
    background-image: url(../5.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
#fromwrapper{
    width:450px;
    margin:15px auto;
    padding:20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.8);;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
a{
    color:#1E7ACE;
    text-decoration:none;
}
a:hover{
    color:#000;
    text-decoration:underline;
}
h2{
    font-size:24px;
    text-align:center;
}
h4{
    color:red;
    margin:5px 50px;
}
label {
    float: left;
    width: 120px;
    text-align: right;
    margin: 1px;
    padding: 10px 1px;
    display: inline-block; /* 将label元素设置为行内块元素 */
}

input {
    padding: 1px;
    margin: 2px;
    font-size: 13px;
    vertical-align: middle;
    height: 28px;
    width: 200px;
    display: inline-block; /* 将input元素设置为行内块元素 */
}


.outer-container {
    background-color: rgba(255, 255, 255, 0.8);;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-container {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.selector{
    width:13px;
}

.login-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
div{
    clear:left;
    margin-bottom:2px;
}

form b{
    color:red;
}