h2 {
    font-size: 24px;
    text-align: center;
}

section {
    position: fixed;
    width: auto;
    height: auto;
    top: 55px;
    /* 调整内容区域的上边距 */
    right: 0px;
    bottom: 30px;
    left: 250px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 4;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#left {
    position: absolute;
    top: 10px;
    left: 0;
    color:#00000090;
    width: 250px;
    font-weight: bold;
    height: 120px;
    border: 1px solid #d0e4e8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(39, 127, 145, 0.2);
}

#left1 {
    position: absolute;
    top: 140px;
    bottom: 10px;
    left: 0;
    width: 250px;
    height: calc(100% - 190px);
    border: 1px solid #d0e4e8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(39, 127, 145, 0.2);
}
.send-button {
    width: 80px;
    background-color: #75c8d8;
    border: 0;
    height:30px;
    color:#ffffff;
    font-weight: bold;
    border-radius:10px;
    cursor: pointer;
}
.switch{
    width: 90%;
    margin-top: 50px;
    bottom: 0;
    background-color: #F7DE98;
    border: 0;
    height:30px;
    color:#00000090;
    font-weight: bold;
    border-radius:10px;
    cursor: pointer;
}
.right-sidebar{
    overflow: auto;
    margin-left: 250px;
    margin-top:10px;
    /* 调整 #right 元素的左边距 */
    width: calc(100% - 270px);
    height: calc(100% - 60px);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.topic-container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.topic-info {
    position: relative; /* Required for absolute positioning */
    #margin-bottom: 10px;
    #background-color: #9face6;
    text-align: center;
}
.topic-info p {
    display: flex;
    align-items: center;
}

.username {
    font-weight: bold;
    margin-left: 10px;
}

.topic-content {
    flex-grow: 1;
}

.topic-time {
    font-size: 12px;
    color: #888;
}
.like-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 10px;
    background-color: #F1939C;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.comment-input{
    margin-bottom: 0;
}
.comment-input textarea {
    width: 70%;
    margin-left: 10px;
    #padding: 5px;
}

.comment-input button {
    background-color: #75c8d8;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.comment-list .comment {
    padding:2px;
    margin-top:0;
    margin-bottom: 10px;
}

.comment-username {
    font-weight: bold;
    margin-right: 10px;
}

.comment-time {
    font-size: 12px;
    color: #888;
}
.signature {
    padding: 0;
    background-color: #d0e4e8;
    color: #888888;
    height:55px;
    font-size: 16px;
    border-radius: 10px 10px 0 0;
    /* 设置文字颜色为白色 */
}