body{
    margin:auto;
    #height:100%;
}
#container{
    width:1550px;
    height:680px;
    #min-width:1200px;
    background-image: url(/static/pictures/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    display: flex;
    transition: background-image 1s ease; /* 添加渐变过渡效果 */
    justify-content: center;
}
#left{
    #position: absolute;
    float:left;
    width:450px;
    height:600px;
    line-height:40px;
    text-align:center;
    font-size:65px;
    letter-spacing: 15px;
    font-style:oblique;
    font-weight:bold;
    color:white;
    #background-color: #75c8d8;
}
.t1{
    font-size: 30px;
    letter-spacing: 3px;
    line-height:0;
}
#login-box{
    #position: absolute;
    margin:auto;
    float:right;
    width:120px;
    height:50px;
    margin-left: 270px;
    margin-top:25%;
    text-align:center;
    #background:#d0e4e8;
    #padding-top:10px;
}
#login-box button{
    #margin-top:20px;
    width:120px;
    height:50px;
    background-image: linear-gradient(to right, #FFFFFF 0%, #cccccc 100%);
    border:0;
    border-radius:15px;
}
#login-box a{
    font-size:30px;
    font-weight:700;
    color:#F1939C;
}
#login-box a:hover{
    font-size:32px;
    color:#63BBD0
}
#right{
    float:right;
    width:300px;
    #margin-left:320px;
    margin-right: 30px;
    padding-top:20px;
    text-align:right;
}
#right a{
    color:white;
    font-size:16px;
}
#right a:hover{
    font-size:17px;
}