body{
    background-image: url(/static/pictures/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
    #background-attachment: fixed; /* 背景图像固定 */
    margin: 0; /* 确保没有默认的body边距 */
    text-align:center;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    overflow: hidden;
    #transition: background-image 1s ease; /* 添加渐变过渡效果 */
}
#left{
    position: fixed;
    top: 10px; /* 距离顶部的距离 */
    left: 20px; /* 距离左侧的距离 */
    #float:left;
    width:450px;
    height:600px;
    line-height:40px;
    text-align:left;
    font-size:65px;
    letter-spacing: 15px;
    font-style:oblique;
    font-weight:bold;
    color:white;
    #background-color: #75c8d8;
}
.t1{
    font-size: 30px;
    letter-spacing: 3px;
    line-height:0;
}
#login-box{
    position:fixed;
    width:120px;
    height:50px;
    left: 46.5%;
    top: 400px;
    text-align:center;
    #background:#d0e4e8;
}
#login-box button{
    #margin-top:20px;
    width:120px;
    height:50px;
    background-image: linear-gradient(to right, #FFFFFF 0%, #cccccc 100%);
    border:0;
    border-radius:15px;
}
#login-box a{
    font-size:30px;
    font-weight:700;
    color:#F1939C;
}
#login-box a:hover{
    font-size:32px;
    color:#63BBD0
}
#right{
    position:fixed;
    width:300px;
    right:10px;
    top:0;
    padding-top:20px;
    text-align:right;
    #background-color: #75c8d8;
}
#right a{
    color:white;
    font-size:16px;
}
#right a:hover{
    font-size:17px;
}